.Type button{
    background-color: #00f84e;
    border-radius: 100px;
    width: 150px;
    height: 70px;
    align-items: center;
}
.Type button:hover{
     background-color: rgb(56, 49, 189);
}
